.flex-container { 

display: flex;
justify-content: space-around;
} 
.flex-container > * {
    flex: 1 100%;
  }
  .navigation{
    display: inline-block;
    margin: 0 50px;
}
#nav2{
    margin: 0 20px;
}
.caption1{
    background-color: #F0A30A;
}
.caption2{
    color: #fff;
  background-color: #D80073;
}
.caption3 {
    background-color: #FAD9D5;
}
.fle span {
    font-size: 24px;
    font-weight: 700;
    border: 2px solid #000;
    position: relative;
    top: 5px;
    left: 2px;
    padding: 5px 20px;
}
.fle {
    text-align: right;
}
.flex-container .cont {
    border: 3px solid;
    margin: 10px;
    background-color: #D5E8D4;
}
.flex-container .cont .text{
    font-size: 20px;
    padding: 10px 15px 0px 15px;
  }

/* MOBILE */
@media (max-width: 768px) { 
    .flex-container{
    flex-flow: column wrap;
    }
} 

/* TABLET */
@media (min-width: 769px) and (max-width: 992px) { 
    .flex, div {
        flex: 1 0 0;
        
        flex-flow: row wrap;
 }

}

/* DESKTOP */
@media (min-width: 993px) { 
    .flex-container{
/* justify-content: space-around; */
    }
}
